__pycache__
*.nii.gz
*.csv
*.pth
*.pt
*.pkl
*.ptl
*.ptl.gz
*.ptl.tar
*.ptl.tar.gz
*.ptl.tar.bz2
*.ptl.tar.xz
*.ptl.tar.lzma

checkpoints/
logs/
results/

*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*